<form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="flex flex-1 flex-col gap-4">

  <h1 class="tw-title">
    Sign Up
  </h1>

  <div class="flex flex-col gap-1">

    <label for="email" class="tw-label">
      Email
    </label>

    <input id="email" formControlName="email" type="email" autocomplete="off" class="w-full tw-input primary" maxlength="50">

    <p *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" class="tw-p danger">
      Please write your email
    </p>

  </div>

  <div class="flex flex-col gap-1">

    <label for="password" class="tw-label">
      Password
    </label>

    <input
      id="password"
      formControlName="password"
      type="password"
      autocomplete="off"
      class="w-full tw-input primary"
      maxlength="50">

    <p *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched" class="tw-p danger">
      Please write your password
    </p>

    <p *ngIf="signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.touched" class="tw-p danger">
      Password should have at least 8 characters
    </p>

  </div>

  <div class="flex flex-col gap-1">

    <label for="confirmation" class="tw-label">
      Confirmation
    </label>

    <input
      id="confirmation"
      formControlName="confirmation"
      type="password"
      autocomplete="off"
      class="w-full tw-input primary"
      maxlength="50">

    <p *ngIf="signUpForm.get('confirmation')?.hasError('required') && signUpForm.get('confirmation')?.touched" class="tw-p danger">
      Please confirm your password
    </p>

    <p *ngIf="signUpForm.get('confirmation')?.hasError('notSame') && signUpForm.get('confirmation')?.touched" class="tw-p danger">
      The confirmation should match the password
    </p>

  </div>

  <button type="submit" [disabled]="!signUpForm.valid" class="flex justify-center gap-2 tw-button primary">
    <fa-icon *ngIf="signUpForm.disabled" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    Sign Up
  </button>

  <p class="text-center tw-p" *ngIf="!signUpForm.disabled">
    Already have an account? <a routerLink="../sign-in" class="tw-a primary">Sign In!</a>
  </p>

</form>
