@media(min-width: 768px) {

  .min-size {
    min-height: 460px;
    min-width: 680px;
  }

}

.sign-image {
  background-size: cover;
  background-position: left;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../../../assets/1130753.png");
}
