<form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-1 flex-col gap-2">

  <p class="text-4xl font-bold dark:text-white">
    Sign In
  </p>

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" autocomplete="off">
    <mat-error *ngIf="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched">
      Please write your username
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" autocomplete="off">
    <mat-error *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched">
      Please write your password
    </mat-error>
  </mat-form-field>

  <mat-checkbox class="example-margin" [checked]="rememberMe">
    Remember me?
  </mat-checkbox>

  <button mat-raised-button color="primary" (click)="signIn()" [disabled]="!signInForm.valid">
    Sign In
  </button>

  <div class="text-center font-thin text-xs">
    Or
  </div>

  <button mat-raised-button type="button" color="accent" (click)="googleSignIn()">
    Sign In with Google
  </button>
  
  <div class="text-center font-thin text-xs">
    Not registered? <a routerLink="../sign-up">Create an account!</a>
  </div>

</form>
