<form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-1 flex-col gap-2">

  <h1 class="tw-title">
    Sign In
  </h1>

  <div class="flex flex-col gap-1">

    <label for="username" class="tw-label">
      Username
    </label>

    <div class="shadow-sm">
      <input id="username" formControlName="username" type="text" placeholder="your username..." autocomplete="off" class="w-full tw-input primary">
    </div>

    <p *ngIf="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched" class="tw-p danger">
      Please write your username
    </p>

  </div>

  <div class="flex flex-col gap-1">

    <label for="password" class="tw-label">
      Password
    </label>

    <div class="shadow-sm">
      <input id="password" formControlName="password" type="password" placeholder="your password..." autocomplete="off" class="w-full tw-input primary">
    </div>

    <p *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched" class="tw-p danger">
      Please write your password
    </p>

  </div>

  <!-- <mat-checkbox [checked]="rememberMe">
    Remember me?
  </mat-checkbox> -->

  <button mat-flat-button  color="primary" (click)="signIn()" >
  <!-- <button mat-flat-button  color="primary" (click)="signIn()" [disabled]="!signInForm.valid"> -->
    Sign In
  </button>

  <div class="text-center">
    Or
  </div>

  <button mat-flat-button type="button" color="accent" (click)="googleSignIn()">
    Sign In with Google
  </button>

  <div class="text-center">
    Not registered? <a routerLink="../sign-up" class="cursor-pointer text-indigo-600 hover:text-indigo-500">Create an account!</a>
  </div>

</form>
