<form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-1 flex-col gap-4">

  <h1 class="tw-title">
    Sign In
  </h1>

  <div class="flex flex-col gap-1">

    <label for="username" class="tw-label">
      Username
    </label>

    <input id="username" formControlName="username" type="text" autocomplete="off" class="w-full tw-input primary">

    <p *ngIf="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched" class="tw-p danger">
      Please write your username
    </p>

  </div>

  <div class="flex flex-col gap-1">

    <label for="password" class="tw-label">
      Password
    </label>

    <div class="shadow-sm">
      <input id="password" formControlName="password" type="password" autocomplete="off" class="w-full tw-input primary">
    </div>

    <p *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched" class="tw-p danger">
      Please write your password
    </p>

  </div>

  <!-- <mat-checkbox [checked]="rememberMe">
    Remember me?
  </mat-checkbox> -->
  <div class="flex items-center gap-2">
    <input formControlName="rememberMe" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
    <p class="text-center tw-p">Remember me?</p>
  </div>

  <button type="submit" [disabled]="!signInForm.valid" class="tw-button primary">
    Sign In
  </button>

  <div class="flex items-center gap-2">
    <div class="flex-1 border-t border-gray-200"></div>
    <div class="tw-p">Or</div>
    <div class="flex-1 border-t border-gray-200"></div>
  </div>

  <button type="button" (click)="googleSignIn()" class="tw-button-outline flex gap-2">
    <img src="../../../assets/icons/google.svg" alt="Google Icon" width="16" height="16"/>
    Sign In with Google
  </button>

  <p class="text-center tw-p">
    Not registered? <a routerLink="../sign-up" class="tw-a primary">Create an account!</a>
  </p>

</form>
